body {
	font-size: 36px;
	background-color: black;
	text-align: center;
	width: 100vw;
	height: 90vh;
	background-image: url("../img/closet.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #3a4664;
}

a:visited {
	text-decoration: none;
	color: pink;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0%;
	overflow: hidden;
}

#t {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 100px;
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: pink;
	z-index: 2;
}

#title:visited { 
	text-decoration: none;
	color: pink;
}

#searchresults {
	position: absolute;
	background-color: rgba(170, 170, 170, 0.75);
	left: 50%;
	width: 50vw;
	height: 100vh;
}

#responseTextArea {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	color: pink;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#origimage {
	position: absolute;
	left: 0%;
	top: 100px;
	width: 50vw;
	height: 90vh;
	max-height: 90vh;
	overflow: scroll;
}

#sourceImage {
	position: absolute;
	text-align: center;
	transform: translateY(-50%);
	transform: translateX(-50%);
	width: 40vw;
	max-width: 40vw;
	border-style: solid;
	border-color: pink;
}

.product {
	text-align: center;
	padding: 10px;
}