body {
	font-size: 36px;
	background-color: black;
	text-align: center;
	width: 100vw;
	height: 100vh;
	position: static;
	background-image: url("../img/closet.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-repeat: no-repeat;
	color: pink;
}

#cover {
	width: 100vw;
	height: 110vh;
	position: absolute;
	background-color: white;
	opacity: 0.2;
	text-align: center;
	top: 0%;
	z-index: 1;
}

#title {
	position: absolute;
	top: 22%;
	height: 200px;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	z-index: 2;
}

#titlebg {
	position: absolute;
	top: 26%;
	height: 300px;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	background-color: black;
	text-align: center;
	opacity: 0.45;
	z-index: 1.5;
}

#description {
	position: absolute;
	top: 50%;
	height: 100px;
	width: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	z-index: 2;
}

#searchbar {
	position: absolute;
	top: 60%;
	height: 100px;
	width: 100%;
	z-index: 2;
}

#input {
	width: 80%;
	height: 30px;
	z-index: 2;
}

#search {
	background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 80px;
    height: 30px;
    z-index: 2;
}

.product {
	width: 200px;
	border-radius: 10px;
	border: 1px #33 solid;
	padding: 10px;
}

.product .url {

}

.product .name {

}

.product .price {

}
